*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
:root{
    /*COLORS */
  --color: #9176ff;
   --dark-color:#2b2b2b;
   --dark-icon-color:#fff;
   --light-color:#f7f7f7;
   --light-icon-color:#ffDE59;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
}
.btn{
    background-color: #fff;
    width: 15em;
    height: 8em;
    border-radius: 10em;
padding: 0 0.5em;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .1),
                inset 0 8px 8px rgba(0, 0, 0, .1),
                inset 0 -4px 4px rgba(0, 0, 0, .1) ;
position: relative;
display: flex;
align-items: center;

cursor: pointer;
}

.btn_indicator{
    background-color: #fff;
    width: 7em;
    height: 7em;
    border-radius: 50%;

position: absolute;
transition: transfrom .3s ease;
box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
}


.btn_icon-container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_icon{
    color: var(--light-icon-color);
    font-size: 3rem;
}

.btn_icon.animated{
    animation: spin 0.5s;
}
@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}


body.darkmode{
    background-color: var(--dark-color);
}
.darkmode .btn{
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .3),
                inset 8px 0 8px rgba(0, 0, 0, .3),
                inset 0 -4px 4px rgba(0, 0, 0, .3);
}
.darkmode .btn_indicator{
  transform: translateX(7em);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0,0,0,.3);
}
.darkmode .btn_icon{
    color: var(--dark-icon-color);
}